.page
  %h1 Colophon
  .content
    = figure 'portrait.png', :type => 'right'
    
    :markdown
      This website is [open source](http://github.com/chrislloyd/poacher). However, the actual content, specifically anything in the `articles` or `public` directories, may not be used without my express permission.
    
      The application is based on work done by [Tim Lucas](http://github.com/toolmantim/toolmantim) and hosted by [Heroku](http://heroku.com). Body copy is set in _Times New Roman_ and titles are set _Chaparral Pro_. Occasionally Inconsolata and Helvetica are used too.

    %h2 Author
    :markdown
      Chris Lloyd is a programmer. He can also be found on [GitHub](http://github.com/chrislloyd), [Twitter](http://twitter.com/chrislloyd), [Last.fm](http://last.fm/user/chris_lloyd) and [Flickr](http://flickr.com/photos/chrislloyd).

