!!!
%html(lang="en")
  %head
    %title= "Josh Price Blog - #{@title}"
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="content-language" content="en")
    %meta(author="Josh Price")
    %meta(name="description" content="Josh Price is an Agile Software Developer and Consultant based in Sydney. He has a passion for all things software related. His great love is the Ruby language and it's wonderful community.")
    %meta(name="keywords" content="Josh Price, Sydney, Australia, ruby, rails, javascript, jquery, java, j2ee, agile, software, developer, software developer, objective-c, iphone, haskell, consulting, consultant")

    %link(rel="icon" href="images/avatar.png")
    %link(href="/stylesheets/screen.css" type="text/css" rel="stylesheet")
    %script(src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" type="text/javascript")

  %body
    .container
      .header
        %h1
          %a(href='/') Josh Price and his Robot Overlords
        %p.subtitle Preparing you for when the machines take over

      .content
        = yield
        
      .sidebar
        .posts
          %h3 Latest Posts
          %ul
            - @articles.each do |article|
              %li
                %a{:href => article.slug}=article.title
                
        .blogroll
          
        
        #twitter
          %h3 Latest Tweets
          %a{href="http://twitter.com/joshprice"} Follow me on Twitter
    .footer

  :javascript
    getTwitters('twitter', { 
      id: 'joshprice', 
      count: 5, 
      enableLinks: true, 
      ignoreReplies: true, 
      clearContents: false,
      template: '"%text%" <a href="http://twitter.com/%user_screen_name%/statuses/%id%/">%time%</a>'
    });
    