!!! xml
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  %url
    %loc http://nsewell.info/
    %priority 1.0
    %changefreq daily
  - @articles.each do |article|
    %url
      %loc== http://nsewell.info/#{article_path(article)}
      %priority 0.6
      %changefreq monthly
