-# title: Hubris: Calling Haskell from Ruby
-# published: 2009-10-05
-# tags: development, ruby, haskell, hubris
  
:markdown
  
  ![Hubris](images/hubris_definition.png "Hubris")
  
  Hubris is a light-hearted name for a very interesting Ruby gem. It allows you to call Haskell functions from your Ruby code. This could be very useful for combining the strengths of both languages: Build stuff fast with Ruby, do the computational heavy-lifting in Haskell.
  
  [Check it out over at Github][github].
  
  [Mark Wotton][mark] has been working hard on getting this working with GHC and it looks like it's even closer. JHC used to be required for dynamic library support, but apparently GHC now has the ability in HEAD. Mark's [post][post] has more details
  
  [mark]: http://shimweasel.com
  [github]: http://github.com/mwotton/Hubris
  [post]: http://www.shimweasel.com/2009/10/01/mac-dylibs-in-ghc-head