-# title: Metalpoint
-# published: 2009-06-8 10:00
-# tumblr: 119900228

= figure 'metalpoint.png', :alt => 'Metalpoint'

:markdown
  A tool to help draw and compose vector images in SVG and VML.

  Think Illustrator or Inkscape except that it's purely in the brower. At the moment you can only edit points and move shapes around, but that's fucking cool in itself. The technology is based on Dmitry's [Raphaël](http://raphaeljs.com), so it works in all major browsers. My longer term goals (subject to your interest) are:

  * Animation. It'll be really easy doing frame based animation but I want to get the actual editing a little usable first.
  * Host it. Perhaps have accounts for save/export features, not sure yet.
  * Get the UI working well. This may mean moving to canvas for speed, but I'm going to have to go to HTML5 anyway. This will probably be a bitch.

  At the moment there is a small Sinatra app running the code, but all it is doing is processing HAML. There is, however, a static demo in `public/demo.html`. You can check out [the source on GitHub](http://github.com/chrislloyd/metalpoint).
