-# title: OmmWriter: A beautiful, meditative writing experience and a lesson in patience and compromise
-# published: 2010-01-17
-# tags: ommwriter, writing, home office
  
:markdown

  Today I had my first major issue working in my home office. Allow me to set the scene.

  It's Sunday and we'd just spent a fantastic weekend on the northern beaches with some old friends who we hadn't seen in some time. This morning we had brunch by the beach and swam in the surf. Once we got back to their place I had a dip in their pool. I lay tranquilly floating on the surface in complete sunshine, staring at the Brobdingnagian swirls of dark cloud and listening to the not so distant thunder. It was sublime. 

  Now my wife Suzie and I are lucky enough to have enough space at the back of the house for a dedicated home office. I've just recently left my job at a global software consultancy and started my own software consulting business, and now rely on my office to do more important businessy things than before. Despite my keenest fantasies, it is not located in a cave atop the Himalayas. It is simply at the end of a very long house.

  This is all very whimsical I hear you muttering but what's this got to do with the title of this post? Patience, Dear Reader, I will get to that.

  Now. I needed to make rather an important work-related phone call. This is not a task that I want to be doing on a Sunday. However, since I'm new to the concept of running my own business, and thus in direct control of the revenues it may attract from time to time, the prospect was not entirely unexciting.

  I had the laptop setup up perfectly on my desk, plugged into all its various peripherals. My notepad and pen was at the ready.  A glass of chilled white at my side.  I was just about to click the call button, when the sounds of a film score begun bursting into my office. This wasn't going to work was it? My wife loves her movies and was rather put out by the fact that she might not be able to watch the one she had just begun. Without a door to close, we were at an impasse. A Mexican standoff.

  I cursed the portability of my laptop as I dragged it into the next room that had a door between me and the odiously non-portable television. I had my phone call, minus the soundtrack to my wife's movie, and it went rather well.

  As I sit here writing this post, I'm using [OmmWriter][1]. I'm staring at nothing but white snow, two trees and my words. In my ears swirls the sounds of gently lapping waves and I've been transported simultaneously to my cave high in the Himalyas whilst re-experiencing floating on pool furniture. No distractions, other than the wistful fall of raindrops as my fingers touch the keys. Not even my wife as she watches movie trailers (loudly) a desk away.

  ![1](images/ommwriter_screenshot.png "Lightly trodden snow")

  Thank you [OmmWriter][1] for giving me back my focus. My office. And inspiring me to write the first blog post for quite some time...


  [1]: http://www.ommwriter.com
