-# title: Opera in the Domain
-# published: 2010-01-30
-# tags: sydney
  
:markdown

  Opera in the Domain is a free concert in Sydney's Domain park. A few thousand people go to listen to the free opera. This year's performance was Leonard Bernstien's Candide

:textile
  "Voltaire":http://en.wikipedia.org/wiki/Voltaire, to criticise his contemporaries, creates an optimistic philosopher who teaches his students that they live in the best of all possible worlds. Paul McDermott, a very skilled performer I had previously only known from his work as a stand up comedian in the ABC's sideshow. His role didn't involve that much singing, but he is good at it, which I was surprised by. The simple illegitimate nephew of the royalty in Westphalia. He is in love with the daughter (Emma Matthews), but a series of unfojrtunate circumstances stop him from getting the girl. Matthews gives a great performance, hitting top notes and dominating the stage. (In "glitter and be gay", she takes a swig from a bottle right after her highest note. I was looking for videos on youtube and haven't found anything else like Matthews and McDermott) Over time, the optimistic teacher slowly goes back on his initial teaching, though not before succumbing to syphilis, which he believes to be a gift of love. 

  "Leonard Bernstien":http://en.wikipedia.org/wiki/Leonard_Bernstein, the Jewish writer of West Side Story adds in the Spanish Inquisition, which, presumably, nobody expected. Part of this may draw on the stories of the Holocaust(It's a great day for an "Auto de fe":http://en.wikipedia.org/wiki/Auto_de_f%C3%A9). The opera is highly comical, which may also be a reflection of the actors and the staging. While the venue is not the best, with background noise from nearby clubs, the production does a good job in keeping the audience in suspense. All in all, it's a good night that's vastly better than paying to go to the opera. 

