-# title: Quelling Juggernauts
-# published: 2009-12-02 16:00
-# updated: 2009-12-02 20:00

= figure 'ritual.png', :caption => 'Carl Kenzler and his food.<a href="http://www.bestrestaurants.com.au/restaurants/NSW-Sydney-ritualrestaurant.aspx" title="Best Restaurants of Australia" class="credit">Photo Credit</a>'

:markdown
  I recently ate at [Ritual](http://www.ritualorganics.com), a restaurant in Nelson’s Bay. It sits between a Blockbuster video store (displaying posters of Miley Cyrus) and a greasy chicken shop in a suburban shopping mall. It is the definition of _fucking nowhere_. It would be foolhardy, however, to suggest that these surroundings are indicative of an experience at Ritual.
  
  Opening by reservation only, there was a total of four people that night. On their website Chef Carl Kenzler explains that that it only “seats 12 customers maximum, therefore you are assured of personalised service.” With my three dining companions, I was treated to Cappucino jubes, ‘sphereised’ Tom Yum soup and liquid nitrogen peppercorns. It was sensational.
  
  I was curious as to why such a brilliant restaurant was in the middle of nowhere serving only four customers. I raised that with Carl when he came over to discuss the meal. He explained that operating in Nelson's Bay means that he can focus on delivering amazing food. If he were in Sydney (as I would have expected most Chefs of his calibre to be), his challenge would be in trying to serve 40 people a night, not making the dishes perfect. He has _purposely_ limited his business to _grow the quality_ of his product.
  
  ---
  
  I've noticed recently that web applications are building limits directly into their business models. [Pinboard](http://pinboard.in) by Maciej Ceglowski and [Fever](http://feedafever.com) by Shaun Inman are two great examples. Pinboard charges you 0.1¢ for each existing user, so the more users there are, the more you pay. Fever is a  feed reader which requires you to host your own webserver (no simple task).
  
  Why limit your userbase like this? Don't you want as many people using your product as possible? In each example there is a limited resource. Carl can only cook so much and Maciej & Shaun can only provide so much support. Though it may sound counter intuitive to turn away revenue, if you have some sort of limit, you have to adjust your business to match this limit.
  
  Don't just have a beta. Betas are bullshit. Make users [wait a week](http://www.metafilter.com/newuser.mefi), [manually review their application](http://rubyforge.org) or make them [order over the phone](http://www.waxseals.com.au/ordering.htm). Placing a roadblock will deter all but the customers you _want_ to have. When Google takes a website and makes it run for ten billion users they are playing catch up to public demand. They are subject to the masses and are on the back foot, forced to spend millions and hire to satisfy demand. Carl Kenzler is inspiring because he is only a slave to his own standards.
